h1{
    color: #114d4d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    background-color: #6e9987;
}

h2{
    color: #2d3839;
    font-style: italic;
    font-size: 50px;
    text-decoration: underline;

}

h3{
    color: #2d3839;
    font-size: larger;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: normal;
}
/*Estilo paragrafo!! (comentário no css é assim)*/
p {
    text-align: justify;
    color: #27191c;
}

li {
    color: #2d3839;
    text-indent: 25px;
}

a {
    text-decoration: none;
}

body {
    background-color: #e0e4ce;
}